*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Inter', sans-serif;
    font-family: 'Lato', sans-serif; */
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}
:root{

    --main-color: #fdcdcd; 
    --text-color: #111111;
    --other-color: #212121;
    --second-color: #111111;
    --bg-color: #fff;

    --big-font: 4rem;
    --h2-font: 2.6rem;
    --p-font: 1.1rem;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;


    background: var(--bg-color);
    color: var(--text-color);
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 14%;
    transition: all .50s ease;
 
}
.logo{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 32px;
    font-weight: 700;
}
.logo i{
    vertical-align: middle;
    margin-right: 8px;
    color: var(--main-color);
}
.navlist{
    display: flex;
}
.navlist a{
color: var(--text-color);
font-size: var(--p-font);
font-weight: 600;
margin: 0 30px;
transition: all .50s ease;
}
.navlist a:hover{
  color: var(--main-color);  
}
.navlist a.active{
    color: var(--main-color);
}
.nav-icons{
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: var(--main-color);
    border-radius: 3rem;
    box-shadow: #dec0fc 0px 1px 25px;
}
.nav-icons i{
    vertical-align: middle;
    font-size: 25px;
    color: var(--bg-color);
    margin-right: 8px;
    margin-left: 5px;
    transition: all .50s ease;
}
#menu-icon{
    font-size: 32px;
    color: var(--bg-color);
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.nav-icons i:hover{
    transform: scale(1.1);
    color: var(--text-color);
}
section{
    padding: 70px 14% 60px;  
}
/*MÉTODO EN JS PARA EL HEADER DEL MENÚ*/
header.sticky{
    padding: 12px 14%;
    background: var(--bg-color);
}
.container{
    background-color: transparent;
}
.boxcontainer{
    background-color: transparent;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
    margin-top: 100px;
}
/*BOX*/
.box{
    position: relative;
    width: 400px;
    height: 400px;
    background: #fdcdcd;
    border-radius: 50%;
    overflow: hidden;
    
    
}
.box::before{
    content: '';
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(315deg,#aec0fc,#fff0c0);
    transition: 0.5s;
    animation: animate 4s linear infinite;
}
.box:hover::before{
    inset: -20px 0px;
 
}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
.box::after{
    content: '';
    position: absolute;
    inset: 6px;
    background: var(--bg-color);
    border-radius: 50%;
    z-index: 1;
}
.content{
    position: absolute;
    inset: 30px;
    border: 6px solid #aec0fc;
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}
.box:hover .content img{
    opacity: 0;
}
.content h2{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: #aec0fc;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.content h2 span{
    font-weight: 300;
    font-size: 0.75em;
}
.content a{
    position: relative;
    margin-top: 10px;
    padding: 10px 20px;
    background: #cec0fc;
    color: var(--bg-color);
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}
.content a:hover{
    scale: 1.1;
}

/*FOOTER*/
.contact-content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}
.contact-text{
    text-align: center; 
    margin-bottom: 4rem;   
}
.contact-text h2{
    font-size:  var(--h2-font);
    margin-bottom: 10px;
}
.contact-text p{
    color: var(--second-color);
    font-size: var(--p-font);
    max-width: 950px;
    line-height: 30px;
    margin-bottom: 3rem;
}
.social i{
    display: inline-block;
    font-size: 32px;
    color: var(--second-color);
    margin: 0 20px;
    transition: all .50s ease;
}
/* .social .clr i{
    color: var(--main-color);
} */
.social i:hover{
    color: var(--main-color);
}
.details{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}
.main-d a{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 600;
}
.main-d i{
    vertical-align: middle;
    margin-right: 12px;
    font-size: 28px;
    color: var(--main-color);
}


/*LOADER*/
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container i{
    /* width: 15rem; */
    font-size: 350px;
}
/* .loader-container i:hover{

    color: #cec0fc;
} */
.loader-container.fade-out{
    top: 110%;
    opacity: 0;
}



/*RESPONSIVE*/
@media (max-width: 1545px){
    header{
        padding: 22px 4%;
        transition: .2s;
    }
    header.sticky{
        padding: 14px 4%;
        transition: .2s;
    }
    section{
        padding: 50px 4% 40px;
        transition: .2s;
    }
    .container{
        padding: 30px 4% 50px;
    }
}

@media (max-width: 1180){
    :root{
        --big-font: 4rem;
        --h2-font: 2.2rem;
        --p-font: 15px;
    }
    .home{
        height: 85vh;
    }
}

@media (max-width: 1060px){
    #menu-icon{
        display: initial;
    }
    .navlist{
        position: absolute;
        top: -1000px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        text-align: left;
        background: var(--bg-color);
        transition: all .50s ease;
    }
    .navlist a {
        display: block;
        padding: 0.5rem;
        margin: 1rem;
        border-left: 2px solid  var(--main-color);   
    }
    .navlist.open{
        top: 100%;
    }
    .slider{
        width: 600px;
        height: 300px;
        border-radius: 10px;
       
        margin: auto;
        margin-top: 125px;
 
        
    }
    .navigation-manual{
        width: 800px;
        margin-top: -240px;
        justify-content: center;
        padding-right: 130px;
        
       
    }
    .navigation-auto{
        
        width: 800px;
        margin-top: 260px;
        justify-content: center;
        padding-right: 130px;
    }
}

@media (max-width: 1045px){
    :root{
        --big-font: 3.3rem;
        --h2-font: 2rem;
    }
    .home-img img{
        width: 100%;
        max-width: 490px;
        height: auto;
    }
    .about-img img{
        width: 100%;
        max-width: 490px;
        height: auto;
    }
    .home{
        height: 70vh;
    }
}

@media (max-width: 860px){
    .home{
        grid-template-columns: 1fr;
        height: 118vh;
    }
    .home-text{
        padding-top: 60px;
    }
    .home-img{
        text-align: center;
    }
    .about{
        grid-template-columns: 1fr;
    }
    .about-img{
        text-align: center;
    }
}

@media (max-width: 520px){
    .contact-img{
        gap: 1.5rem;
    }
    .contact-img img{
        width: 100%;
        max-width: 170px;
        height: auto;
    }
    .social i{
        margin: 0 10px;
    }
    .contact-text p{
        max-width: 100%;
    }
    .details{
        gap: 1.5rem;
    }
}

@media (max-width: 475px){
    :root{
        --big-font: 2.8rem;
        --h2-font: 2rem;
    }
}

@media (max-width: 440px){
    .home{
        height: 110vh;
        gap: 0.1rem;
    }
}